
header {
    background-color: rgba(51, 51, 51, 0.8); /* Maak het een beetje doorzichtig */
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.8); /* Maak het een beetje doorzichtig voor effect */
    box-shadow: 0 0 10px rgba(247, 241, 241, 0.1);
    color: #f4f4f4;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #f1f1f1;
}

p {
    line-height: 1.6;
    color:rgb(255, 255, 255)
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: rgba(51, 51, 51, 0.8); /* Maak het een beetje doorzichtig */
    overflow: hidden; /* Zorgt ervoor dat de links goed worden weergegeven */
}

.navbar a {
    float: left; /* Plaats de links naast elkaar */
    display: block;
    color: white; /* Kleur van de tekst */
    text-align: center;
    padding: 14px 16px; /* Ruimte binnen de links */
    text-decoration: none; /* Verwijder de onderstreping */
}

.navbar a:hover {
    background-color: #575757; /* Achtergrondkleur bij hover */
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer; /* Wijst de gebruiker dat er iets te klikken is */
}

.dropdown-content {
    display: none; /* Verberg het dropdown-menu standaard */
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px; /* Minimale breedte van het dropdown-menu */
}

.dropdown:hover .dropdown-content {
    display: block; /* Toon het dropdown-menu bij hover */
}

.dropdown-content a {
    float: none; /* Zorg ervoor dat de links niet naast elkaar staan */
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 12px 16px; /* Ruimte binnen de links */
}

.dropdown-content a:hover {
    background-color: rgb(255, 255, 255); /* Hover effect voor de dropdown-links */
}

body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fallback kleur */
    background-image: URL(image.png); /* Voeg hier de URL van je afbeelding toe */
    background-size: cover; /* Zorgt ervoor dat de afbeelding het volledige venster bedekt */
    background-position: middle; /* Centreert de afbeelding */
    background-repeat: no-repeat; /* Voorkomt dat de afbeelding herhaald wordt */
}
